<?xml version="1.0"?>

<launch>

   <param name="robot_description" command="$(find xacro)/xacro '$(find robo_lib_test)/urdf/robot_description.urdf'" />

    <node pkg="robo_lib_test" type="kinematic_chain_test" name="kinematic_chain_test_node"
          output="screen" required="true">

        <rosparam>

          init_from: "string"      # "file", "param", "string"

          ik_pos_solver: "NR_JL"   # "LMA", "NR", "NR_JL"
          ik_vel_solver: "PINV"  # "PINV", "PINV_GIVENS", "PINV_NSO", "WDLS"
          max_iter: 100
          err_tol: 0.00001

        </rosparam>

    </node>

</launch>
